@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Register for a sports event <a href="https://docs.microsoft.com/aspnet/core">here</a>.</p>
</div>
